{
  "processors": [],
  "extends": ["stylelint-config-standard", "stylelint-config-prettier"],
  "rules": {
    "comment-empty-line-before": ["always"],
    "rule-empty-line-before": ["always", { "ignore": ["after-comment", "first-nested"] }],
    "selector-pseudo-class-no-unknown": [
      true,
      { "ignorePseudoClasses": ["export", "import", "global", "local", "external"] }
    ],
    "no-descending-specificity": null,
    "font-family-no-missing-generic-family-keyword": null,
    "value-keyword-case": null
  }
}
